body {
    background-color: rgb(29, 27, 27);
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
/* Texto en gral*/
p, legend, label, li {
    color: #FFFFFF;
}
span {
    color: #F7DC6F;
}
legend {
    color: #FFA500;
}
label {
    color: #F7DC6F;
}


/* Titulo */
h1 {
    font-size: 3rem;
    color: #FFA500;
    text-align: center;
    margin-top: 0;
}

/* Imagen */
img {
    width: 20%;
    display: block;
    margin: 0 auto 2rem auto;
    border-radius: 70px 120px 20px 70px;
    box-shadow: 5px 5px #DAA520;
}

/* Datos */
ul {
    margin-bottom: 2rem;
    text-align: center;
    padding: 0;
}
li {
    list-style-type: none;
    text-align: auto;
}

/* Presentacion */
p {
    text-align: center;
    margin: 0 0 1rem 0;
}
section {
    background-color: rgb(61, 54, 54);
    border-radius: 1.2rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
    box-shadow: 10px 10px rgb(17, 16, 16);
}

/* Formulario */
form {
    margin: 2rem 0;
    background-color: rgb(61, 54, 54);
    padding: 1.5rem;
    padding-bottom: 0;
    border-radius: 1.2rem;
    box-shadow: 10px 10px rgb(17, 16, 16);
}
legend {
    text-align: center;
    font-size: 1.2rem;
}
fieldset {
    margin-bottom: 1rem;
}
input, textarea {
    width: 100%;
    padding: .6rem;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
}

button {
    background-color: #DAA520;
    border: none;
    color: #FFFFFF;
    padding: .8rem 1.3rem;
    text-align: center;
    font-size: 1rem;
    margin: 0 .3rem 1rem .1rem;
    border-radius: .6rem;
    cursor: pointer;
}
